[submodule "dependencies/miniupnp"]
	path = dependencies/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "dependencies/depot_tools"]
	path = dependencies/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "dependencies/gs2lib"]
	path = dependencies/gs2lib
	url = https://xtjoeytx@bitbucket.org/xtjoeytx/gs2lib.git
[submodule "dependencies/gs2compiler"]
	path = dependencies/gs2compiler
	url = https://github.com/xx-shitai-xx/gs2compiler.git
