*.bat
*.swp
*.zst
..gitignore.swp
.idea/
.svn/
.vs/
bin/*.a
bin/*.bin
bin/*.dat
bin/*.dll
bin/*.exe
bin/*.pdb
bin/*.zip
bin/GS2Emu.*
bin/gs2emu*
bin/servers/*
bin/servers/default/logs/npclog.txt
bin/servers/default/logs/serverlog.txt
bin/servers/default/npcs/npcControl-NPC.txt
bin/startuplog.txt
build*/*
cmake-build-*/
dependencies/
dependencies/.cipd/
!dependencies/gs2lib
lib/
out/
packages/
